In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
pd = pd.read_csv('employee.csv')
pd

   experience  test_score  interview_score  salary
0         NaN         8.0                9   50000
1         NaN         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6         3.0         NaN                7   72000
7        11.0         7.0                8   80000

In [3]:
pd.experience = pd.experience.fillna(pd.experience.median())
pd

   experience  test_score  interview_score  salary
0         4.0         8.0                9   50000
1         4.0         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6         3.0         NaN                7   72000
7        11.0         7.0                8   80000

In [4]:
pd.test_score = pd.test_score.fillna(pd.test_score.median())
pd

   experience  test_score  interview_score  salary
0         4.0         8.0                9   50000
1         4.0         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6         3.0         8.0                7   72000
7        11.0         7.0                8   80000

In [5]:
model = linear_model.LinearRegression()

In [6]:
model.fit(pd.drop('salary', axis='columns'),pd.salary)

LinearRegression()

In [7]:
model.predict([[11,12,13]])

D:\jupyter\mynumpy\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([95504.41558442])

In [8]:
model.score(model)

TypeError: RegressorMixin.score() missing 1 required positional argument: 'y'

In [9]:
model.coef_

array([2688.83116883, 1812.98701299, 1669.61038961])

In [10]:
model.intercept_

22466.493506493498

In [11]:
# y = m1*x2 + m2*x2 + m3*x3 +b

In [12]:
2688.83116883*12+ 1812.98701299*10+ 1669.61038961*10 +22466.493506493498

89558.4415584535